*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px

  @media only screen and (max-width: 51em) {
    font-size: 75%;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  align-items: center;
  margin: 0 auto;

}

.content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: bisque;
  @media only screen and (max-width: 51em) {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
  }
}

.main {
  width: 90rem;
  order: 2;
  float: left;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  justify-content: space-between;
  justify-items: center;
  background-color: bisque;

  @media only screen and (max-width: 51em) {
    width: 100%;
    justify-items: center;
  }
}

.card {
  margin-right: 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  width: 40rem;
  border-radius: 5px;
  background-color: white;
  border: white 1px solid;

  @media only screen and (max-width: 51em) {
    width: 28rem;
  }
}

.card-info {
  font-size: 16px;
}

.card-info-requirements {
  margin-top: 2rem;
  padding-left: 0.5rem;
}

.card-info-requirements img {
  margin-right: 1rem;
  height: 25px;
  width: 25px;
}

.card-info-requirements-list {
  list-style: none;
}

.card-info-requirements-icon {
  margin-top: 5px;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-info-worktime{
  padding-top: 2rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-info-worktime img{
  margin-right: 1rem;
  height: 25px;
  width: 25px;
}

.card-info-company {
  padding-top: 2rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-info-company img{
  margin-right: 1rem;
  height: 25px;
  width: 25px;
}

.card-info-extra {
  font-size: 15px;
  margin-top: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 51em) {
    flex-direction: column;
  }
}

.card-info-extra p {
  margin-bottom: 0.5rem;
}

.calendar-icon {
  width: 3rem;
  height: 3rem;
}

.card-header {
  color: white;
}

.card-header-info {
  border-radius: 4px;
  background-color: #1840DB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-header img {
  height: 25px;
  width: 25px;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-header p {
  font-size: 1.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-footer {
  font-size: 1.6rem;
  border-top: #1840DB 1px solid;
  color: #1840DB;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 51em) {
    flex-direction: column;
  }

}

.card-footer-icons {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.card-footer-info {
  display: flex;
  margin-bottom: 1rem;
  align-items: flex-end;
  margin-right: 0.5rem;
  margin-top: 1rem;
  text-align: end;

  @media only screen and (max-width: 51em) {
    text-align: start;
    margin-left: 0.5rem;
    margin-top: 0rem;

  }
}

.card-footer-users img {
  margin-right: 0.8rem;
  height: 25px;
  width: 25px;
}

.card-footer-users {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-footer-status{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-footer-status img {
  margin-right: 0.8rem;
  width: 23px;
  height: 23px;
}







